*{
    margin: 0px;
    padding: 0px;
    color: brown;
}
.container{
    position: relative;
    background-color: black;
    width: 500px;
    height: 500px;
}
.block-1{
width: 100px;
height: 100px;
background-color: blue;
}
.block-1{
    width: 100px;
    height: 100px;
    background-color: lightcyan;
    }
.block-2{
width: 100px;
height: 100px;
background-color: red;
}
.block-3{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 20px;
    left: 30px;
}