*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 400vh;
}
.container-home{
    width: 100%;
    height: 100vh;
    background-image: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
    /*opacity: 0.5;*/
}
.container-home-menu{
    width:100%;
    /*: 100px;*/
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.container-home-menu-title{
    margin-left: 100px;
}
.container-home-menu-title > h3{
    width: 100%;
    margin-top: 25px;
    margin-left: 80px;
    font-size: 35px;
    font-family: Merriweather;
    color: black;
    font-weight: 1500;
}
.container-home-menu-list nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    font-size: 25px;
    font-family: Merriweather;
    justify-content: space-around;
    font-weight: 600;
}
.container-home-menu-list{
    width: 50%;

}
.container-home-main{
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-home-main-slogan{
    font-family: Merriweather;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 300px;
}
.container-home-main-content{
    font-size: 40px;
    color: white;
    margin: 30px 200px 30px 200px;
    text-align: center;
}
.container-home-main-button{
    background-color: rgb(255, 55, 0);
    border: none;
    padding: 30px 50px;
    border-radius: 70px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    font-family: Merriweather;
}
.container-about{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 77, 0);;
}
.container-about-main{
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-about-main-slogan{
    font-family: Merriweather;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 300px;
}
.container-about-main-content{
    font-size: 40px;
    color: white;
    margin: 30px 200px 30px 200px;
    text-align: center;
}
.container-about-main-button{
    background-color: white;
    border: none;
    padding: 30px 50px;
    border-radius: 70px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
    font-weight: 600;
    font-family: Merriweather;
}
.container-service{
    width: 100%;
    height: 90vh;
    background-color: white;
}
.container-service-main{
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-service-main-slogan {
    color: black;
    font-size: 50px;
}
.fa-gem, .fa-laptop, .fa-globe, .fa-heart{
    color: red;
    font-size: 80px;
}
.container-service-content{
    display: flex;
    font-family: merriweather;
    margin-top: 50px;
    justify-content: space-between;
}
.container-service-content-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 40px;
    width: 400px;
}
.container-service-main-slogan h3{
    font-size: 60px;
    font-family: Merriweather;
}
.container-service-content-1 h3{
    font-size: 50px;
    margin-top: 15px;
    font-family: Merriweather;!important
}
.container-service-content-1 span{
    margin-top: 15px;
    font-size: 30px;
}
.container-portfolio-picture{
    display: grid;
    grid-template-columns:  calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: 500px 500px;
    width: 100%;
}
.container-portfolio-picture-baby img{
    width: 100%;
    height: 100%;
}
.container-portfolio-main{
    width: 100%;
    height: 50vh;
    background-color: rgb(81, 74, 74);
    color: white;
}
.container-portfolio-main h2{
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
}
.container-portfolio-main-button{
    background-color: white;
    border: none;
    padding: 30px 50px;
    border-radius: 70px;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 1050px;
    margin-right: 200px;
    color: black;
    font-weight: 600;
    font-family: Merriweather;
}
.container-contact-main{
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-contact-main-slogan{
    font-family: Merriweather;
    font-size: 60px;
    text-align: center;
    color: black;
    margin-top: 300px;
}
.container-contact-main-content{
    font-size: 40px;
    color: black;
    margin: 30px 200px 30px 200px;
    text-align: center;
}
.container-contact-main-button{
    background-color: rgb(237, 52, 52);
    border: none;
    padding: 30px 250px;
    border-radius: 70px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    font-weight: 600;
    font-family: Merriweather;
}
.container-contact-form{
    display: flex;
    flex-direction: column;
}
.container-contact-form input{
    margin: 20px;
    width: 900px;
    height: 80px;
    font-size: 30px;
    font-family: Merriweather;
    padding: 20px;
    color: black;
    border-radius: 10px;
}
.container-contact-form input:focus{
    outline: 5px solid pink;
    border: 1px solid rgb(239, 117, 137);
}
.container-contact-number{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    padding-bottom: 200px;
}
.container-footer{
    width: 100%;
    height: 150px;
    font-size: 50px;
    background-color: aliceblue;
    color: gray;
    text-align: center;
    padding-top: 70px;
}